body{
    padding: px;
    color: #5a5a5a;
}
/*
.container{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;
}
*/
carousel-item{
    height: 100px;
    width:100px;
}
/*
.carousal{
    height: 500px;
    margin-bottom: absolute;
}
*/
.carousal-item{
    height: 500px;
    background-color: antiquewhite;
} 
.carousal-inner > .carousal-item > img{ 
    position: absolute;
    height: 100px;
    min-width: 100%;
    top: 0;
    left: 0;
}
.d-block w-100{
    width: 100px;
}
.navbar {
    padding: 0;
    margin: 0;
    padding-left: 50px;
    padding-right: 50px;
}

.col-lg-4{
    padding-top: 50px;
/*    padding-left: 100px;*/
    text-align: center;
    margin-bottom: 20px;
    
}
.col-lg-4 h1{
    color: darkgreen;
    background-color: antiquewhite;
}
.col-lg-4 p{
    color: darkseagreen;
    margin-left: 10px;
    margin-right: 10px;
}
.col-lg-4 a{
    background-color: antiquewhite;
}
.divider{
    margin: 40px 0;
}
.divider .col-md-7{
    padding-left: 50px;
    padding-top: 50px;
    
}
.col-md-5{
    margin: 0px;
}
.footer{
    margin: 0 110px;
    
}